@charset "UTF-8";


.question_wrapper label {
    display:block;
    margin-bottom:15px;
    /* Text */
    font-size:2.0rem;
    line-height:2.6rem;
    color:rgb(122,151,233);
}
.question_wrapper label.label_small {
    margin-bottom:2px;
    /* Text */
    font-size:1.5rem;
    color:rgb(138,139,136);
}

.question_wrapper textarea,
.question_wrapper input {
    position:relative;
    width:100%;
    max-width:100%;
    border-radius:0;
    outline:none;
    resize:none;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;   
    -webkit-transition:background-color 0.2s ease-in-out,
                       box-shadow       0.2s ease-in-out,
                       border-radius    0.2s ease-in-out,
                       border           0.2s ease-in-out; 
            transition:background-color 0.2s ease-in-out,
                       box-shadow       0.2s ease-in-out,
                       border-radius    0.2s ease-in-out,
                       border           0.2s ease-in-out;
    /* Text */
    font-family:"proxima-nova",sans-serif;
    font-size:1.5rem;
}

.question_wrapper textarea,
.question_wrapper input {
    background:rgb(250,246,240);
    height:50px;
    padding:0 15px 0 15px;
    border:1px solid rgb(235,227,221);
    border-bottom:none;
    border-right:none;
    /* Text */
    color:rgb(110,111,108);
    text-shadow:-1px -1px 0 rgba(255,255,255,0.2);
}
html.no-touch .question_wrapper textarea:hover,
html.no-touch .question_wrapper input:hover {border-color:rgb(225,217,211);}
html.no-touch .question_wrapper textarea:focus,
html.no-touch .question_wrapper input:focus {border-color:rgb(215,207,201);}

.question_wrapper input::-webkit-input-placeholder,
.question_wrapper textarea::-webkit-input-placeholder {
    color:rgb(158,159,156);
    -webkit-transition:color 0.2s ease-in-out;
    	    transition:color 0.2s ease-in-out;
}
html.no-touch .question_wrapper input:hover::-webkit-input-placeholder,
html.no-touch .question_wrapper textarea:hover::-webkit-input-placeholder {color:rgb(138,139,136);}

.question_wrapper input:-moz-placeholder,
.question_wrapper textarea:-moz-placeholder {
    color:rgb(158,159,156);
    -webkit-transition:color 0.2s ease-in-out;
    	    transition:color 0.2s ease-in-out;
}
html.no-touch .question_wrapper input:hover:-moz-placeholder,
html.no-touch .question_wrapper textarea:hover:-moz-placeholder {color:rgb(138,139,136);}

.question_wrapper input::placeholder,
.question_wrapper textarea::placeholder {
    color:rgb(158,159,156);
    -webkit-transition:color 0.2s ease-in-out;
    	    transition:color 0.2s ease-in-out;
}
html.no-touch .question_wrapper input:hover::placeholder,
html.no-touch .question_wrapper textarea:hover::placeholder {color:rgb(138,139,136);}

.question_wrapper input:focus::-webkit-input-placeholder,
.question_wrapper textarea:focus::-webkit-input-placeholder {color:rgba(158,159,156,0.5) !important;}
.question_wrapper input:focus::-moz-placeholder,
.question_wrapper textarea:focus::-moz-placeholder {color:rgba(158,159,156,0.5) !important;}
.question_wrapper input:focus::placeholder,
.question_wrapper textarea:focus::placeholder {color:rgba(158,159,156,0.5) !important;}


/* Input With Button */

.input_with_btn {position:relative;}
.input_with_btn > input {padding-right:165px;}
.input_with_btn > button {
    position:absolute;
    top:0; right:0;
    background:center center no-repeat;
    height:50px;
    padding:0 50px;
    border-radius:0 3px 3px 0;
    /* Text */
    font-size:1.5rem;
}


/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 747px) {
    
    /* Input With Button */
    .input_with_btn.search_btn > input {padding-right:65px;}
    .input_with_btn.search_btn > button {
        background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcid2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkZGRkYiIGQ9Ik02LjIsMEMyLjgsMCwwLDIuOSwwLDYuNGMwLDMuNSwyLjgsNi40LDYuMiw2LjQJYzEuNSwwLDIuOC0wLjUsMy45LTEuNGMwLDAuMSwwLjEsMC4yLDAuMiwwLjNsMy45LDRjMC4yLDAuMiwwLjUsMC4zLDAuOCwwLjNjMC4zLDAsMC42LTAuMSwwLjgtMC4zYzAuNC0wLjQsMC40LTEuMiwwLTEuNmwtMy45LTQgYy0wLjEtMC4xLTAuMi0wLjItMC40LTAuMmMwLjYtMSwwLjktMi4yLDAuOS0zLjRDMTIuNCwyLjksOS42LDAsNi4yLDB6IE02LjIsMmMyLjQsMCw0LjMsMiw0LjMsNC40YzAsMC44LTAuMiwxLjYtMC42LDIuNEw5LjUsOS40IEw4LjksOS45Yy0wLjgsMC43LTEuNywxLTIuNywxYy0yLjQsMC00LjMtMi00LjMtNC40QzEuOSw0LDMuOCwyLDYuMiwyeiIvPjwvc3ZnPg==');
        padding:0 25px;
        text-indent:-999999px;
    }
    
}

@media only screen 
and (max-width : 415px) {

    .question_wrapper label {font-size:1.8rem; line-height:2.4rem;}
    
}