@charset "UTF-8";


/* STRUCTURE */


/* Wrapper */
#pusher_wrapper {
    width:100%;
    height:100%;
}


/* Site */
#pusher_site {
    width:100%;
    height:100%;
}


/* Topside */
#pusher_topside {
    z-index:999999;
    position:fixed;
    top:-60px; left:0;
    background-color:rgb(174,175,176);
    width:100%;
    height:60px;
    
}


/* Rightside */
#pusher_rightside {
    z-index:999999;
    position:fixed;
    top:0; right:-340px;
    background-color:rgb(174,175,176);
    width:340px;
    height:100%;
}
#pusher_rightside::after {
    position:fixed;
    top:0; right:340px;
    opacity:0;
    background-color:rgba(234,236,238,0.7);
    width:8000px;
    height:100%;
    content:'';
    pointer-events:none;
}
.ie9 #pusher_rightside::after {display:none;}

/* ACTIVE STATES */


/* Animation Timer */
#pusher_site,
#pusher_topside,
#pusher_rightside,
#pusher_rightside::after {
    -webkit-transition:-webkit-transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    	    transition:        transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}


/* Top Side Active */
.pusher_active.topside #pusher_topside,
.pusher_active.topside #pusher_site,
.pusher_active.topside #header {
    -webkit-transform:translate3d(0,60px,0);
    	    transform:translate3d(0,60px,0);
}
html.no-csstransforms3d .pusher_active.topside #pusher_topside,
html.no-csstransforms3d .pusher_active.topside #pusher_site,
html.no-csstransforms3d .pusher_active.topside #header {
    -webkit-transform:translate(0,60px);
        -ms-transform:translate(0,60px);
    	    transform:translate(0,60px);
}


/* Right Side Active */
.pusher_active.rightside #pusher_rightside,
.pusher_active.rightside #pusher_site,
.pusher_active.rightside #header {
    -webkit-transform:translate3d(-340px,0,0);
    	    transform:translate3d(-340px,0,0);
}
html.no-csstransforms3d .pusher_active.rightside #pusher_rightside,
html.no-csstransforms3d .pusher_active.rightside #pusher_site,
html.no-csstransforms3d .pusher_active.rightside #header {
    -webkit-transform:translate(-340px,0);
        -ms-transform:translate(-340px,0);
    	    transform:translate(-340px,0);
}
.pusher_active.rightside {overflow:hidden;}
.pusher_active.rightside #pusher_rightside::after {display:block; opacity:1;}


/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 415px) {
    
    /* Rightside */
    #pusher_rightside {right:-300px; width:300px;}
    #pusher_rightside::after {right:300px;}
    /* Right Side Active */
    .pusher_active.rightside #pusher_rightside,
    .pusher_active.rightside #pusher_site,
    .pusher_active.rightside #header {
        -webkit-transform:translate3d(-300px,0,0);
        	    transform:translate3d(-300px,0,0);
    }
    html.no-csstransforms3d .pusher_active.rightside #pusher_rightside,
    html.no-csstransforms3d .pusher_active.rightside #pusher_site,
    html.no-csstransforms3d .pusher_active.rightside #header {
        -webkit-transform:translate(-300px,0);
            -ms-transform:translate(-300px,0);
        	    transform:translate(-300px,0);
    }
    
}