@charset "UTF-8";

/* Table */

.responsive_table { 
    width:100%;
    border:1px solid rgb(223,226,229);
    border-top:none;
    border-bottom:none;
    border-collapse:collapse;
    /* Text */
    font-size:1.5rem;
    line-height:2.2rem;
}

.responsive_table tr {background-color:rgb(253,254,255);}
.responsive_table tr:nth-of-type(odd) {background-color:rgb(250,251,252);}

.responsive_table th,
.responsive_title { 
    background-color:rgb(235,239,246);
    /* Text */
    font-weight:600;
    color:rgb(135,141,150);
}
.responsive_table td, 
.responsive_table th {
    height:100%;
    padding:14px 20px 13px;
    border:1px solid rgb(223,226,229);
    border-left:none;
    border-right:none;
    text-align:left;
    vertical-align:middle;
}

.responsive_title {
    display:none;
    float:left;
    width:40%;
    height:100%;
    padding:10px 20px;
    /* Text */
    -ms-word-break:break-all;
        word-break:break-all;
        word-break:break-word;
    -webkit-hyphens:auto;
       -moz-hyphens:auto;
            hyphens:auto;
}

.date_text {white-space:nowrap;}

.table_slash {
    padding:0 4px;
    color:rgb(150,151,148);
}

/* Status */

.status_head,
.status_cell {
    width:120px !important;
    padding:10px 30px !important;
    text-align:center !important;
}

.status_dot {
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    margin:0 auto;
}

.status_green {background-color:rgb(107,193,148);}
.status_gray {background-color:rgb(108,120,124);}
.status_red {background-color:rgb(191,107,107);}

/* Table Status Key */

.table_key {
    float:right;
    list-style-type:none;
}

.table_key li {
    position:relative;
    float:left;
    height:40px;
    padding:13px 0 0 24px;
    margin-right:30px;
    /* Text */
    font-size:1.5rem;
    line-height:1.5rem;
}
.table_key li:last-of-type {margin-right:0;}

.table_key li::after {
    position:absolute;
    top:15px; left:0;
    width:10px;
    height:10px;
    border-radius:50%;
    content:'';
}

.key_green::after {background-color:rgb(107,193,148);}
.key_gray::after {background-color:rgb(108,120,124);}
.key_red::after {background-color:rgb(191,107,107);}

/* Table Filter */
.table_filter {
    float:right;
    padding:9px 0 0 24px;
}

/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 959px) {
    
    /* Table */
    .responsive_table table, 
    .responsive_table thead, 
    .responsive_table tbody, 
    .responsive_table th, 
    .responsive_table td, 
    .responsive_table tr {display:block; padding:0;}
    .responsive_table thead tr {display:none;}
    .responsive_table tr {border-top:1px solid rgb(223,226,229);}
    .responsive_table td {background-color:rgb(235,239,246); border:none; border-bottom:1px solid rgb(223,226,229);}
    .responsive_table td:last-of-type {border-bottom-width:9px;}
    .responsive_table tr:last-of-type td:last-of-type {border-bottom-width:1px;}
    .responsive_title {display:block;}
    .responsive_text {float:right; background:rgb(253,254,255); width:60%; padding:10px 20px; border-left:1px solid rgb(223,226,229); box-shadow:0 1px 0 rgb(223,226,229);}
    
    /* Status */
    .status_head,
    .status_cell {width:auto !important; padding:0 !important; text-align:left !important;}
    .status_cell > .responsive_text {min-height:42px !important;}
    .status_dot {margin:7px 0 0;}
    
}

@media only screen 
and (max-width : 890px) {
    
    /* Table Status Key */
    .table_key li {height:auto; padding-left:20px; margin-right:20px; font-size:1.3rem; line-height:1.3rem;}
    .table_key li::after {width:9px; height:9px;}
    
    /* Table Filter */
    .table_filter {font-size:1.3rem; line-height:1.3rem;}

}

@media only screen 
and (max-width : 415px) {
    
    /* Table */
    .responsive_table {font-size:1.3rem; line-height:2.0rem;}
    
}